{{- $site := .Site }}
<section class="footer-widget col-span-3 lg:col-span-1 text-footer-text-primary">
  <div class="contact text-sm text-gray-700">
    {{- if $site.phone }}
    <div class="flex items-center mb-2">
      <span
        class="w-8 h-8 flex items-center justify-center text-gray-50 hover:text-white mr-3">
        {{ partial "svg/icon-telephone.svg" (dict "class" "w-6 h-6 inline-block fill-current") }}
      </span>
      <p class="text-gray-50 mb-0">WhatsApp • {{ string $site.phone }}</p>
    </div>
    {{- end }}
    {{- if $site.whatsapp }}
    <div class="flex items-center mb-2">
      <span
        class="w-8 h-8 flex items-center justify-center text-gray-50 hover:text-white mr-3">
        {{ partial "svg/icon-whatsapp-lite.svg" (dict "class" "w-6 h-6 inline-block fill-current") }}
      </span>
      <p class="text-gray-50 mb-0">WhatsApp • {{ string $site.whatsapp }}</p>
    </div>
    {{- end }}
    {{- if $site.email }}
    <div class="flex items-center mb-2">
      <span
        class="w-8 h-8 flex items-center justify-center text-gray-50 hover:text-white mr-3">
        {{ partial "svg/icon-message.svg" (dict "class" "w-6 h-6 inline-block fill-current") }}
      </span>
      <p class="text-gray-50 mb-0">Email • {{ $site.email }}</p>
    </div>
    {{- end }}
    {{- if $site.address }}
    <div class="flex items-center mb-2">
      <span
        class="w-8 h-8 flex items-center justify-center text-gray-50 hover:text-white mr-3">
        {{ partial "svg/icon-pin.svg" (dict "class" "w-6 h-6 inline-block fill-current") }}
      </span>
      <p class="text-gray-50 mb-0">{{ $site.address }}</p>
    </div>
    {{- end }}
  </div>
</section>
