{{- $widget := .widget }}
<section class="widget col-span-3 lg:col-span-1 text-footer-text-primary">
    {{- if $widget.title }}
    <header class="widget widget_section relative after:empty-content after:absolute after:w-12 after:h-2px after:bg-white after:transition after:duration-500 after:ease-out mb-8">
        <h4 class="section__title text-footer-text font-medium mb-3">{{ $widget.title }}</h4>
    </header>
    {{- end }}
  <div class="contact text-sm text-gray-700">
    {{- if $widget.phone }}
    <div class="flex items-center mb-2">
      <span
        class="w-8 h-8 flex items-center justify-center text-gray-50 hover:text-white mr-3">
        {{ partial "svg/icon-telephone.svg" (dict "class" "w-6 h-6 inline-block fill-current") }}
      </span>
      <p class="text-gray-50 mb-0">WhatsApp • {{ string $widget.phone }}</p>
    </div>
    {{- end }}
    {{- if $widget.whatsapp }}
    <div class="flex items-center mb-2">
      <span
        class="w-8 h-8 flex items-center justify-center text-gray-50 hover:text-white mr-3">
        {{ partial "svg/icon-whatsapp-lite.svg" (dict "class" "w-6 h-6 inline-block fill-current") }}
      </span>
      <p class="text-gray-50 mb-0">WhatsApp • {{ string $widget.whatsapp }}</p>
    </div>
    {{- end }}
    {{- if $widget.email }}
    <div class="flex items-center mb-2">
      <span
        class="w-8 h-8 flex items-center justify-center text-gray-50 hover:text-white mr-3">
        {{ partial "svg/icon-message.svg" (dict "class" "w-6 h-6 inline-block fill-current") }}
      </span>
      <p class="text-gray-50 mb-0">Email • {{ $widget.email }}</p>
    </div>
    {{- end }}
    {{- if $widget.address }}
    <div class="flex items-center mb-2">
      <span
        class="w-8 h-8 flex items-center justify-center text-gray-50 hover:text-white mr-3">
        {{ partial "svg/icon-pin.svg" (dict "class" "w-6 h-6 inline-block fill-current") }}
      </span>
      <p class="text-gray-50 mb-0">{{ $widget.address }}</p>
    </div>
    {{- end }}
  </div>
</section>
