{{- $image := (.Page.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" (.Destination | safeURL)) }}
{{- $small := $image.Resize "480x" }}
{{- $medium := $image.Resize "768x" }}
{{- $large := $image.Resize "1024x" }}
{{- $alt := .PlainText | safeHTML }}
{{- $caption := "" }}
{{- with .Title }}
{{- $caption = . | safeHTML }}
{{- end }}

{{- with $image }}
<figure>
  <a href="{{ $image.RelPermalink }}">
    <picture>
        <source
        data-srcset="240.jpg 240w,
        320.jpg 320w,
        500.jpg 500w"
        media="(max-width: 550px)" />
        <source
        data-srcset="640.jpg 640w,
        990.jpg 990w,
        1024.jpg 1024w"
        media="(max-width: 1024px)" />
        <source
        data-srcset="1200.jpg 1200w" />
        <img
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="1024.jpg"
        class="lazyload"
        alt="image with artdirection" />
    </picture>
    <img
	  class="mx-auto"
      sizes="100vw"
      srcset="{{ $small.RelPermalink }} 480w, {{ $medium.RelPermalink }} 768w, {{ $large.RelPermalink }} 1024w"
      src="{{ $image.RelPermalink }}"
      width="{{ $image.Width }}"
      height="{{ $image.Height }}"
      alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
      >
  </a>
  {{- with $caption }}
    <figcaption class="text-center py-3 mb-4">{{ . | markdownify }}</figcaption>
  {{- end }}
</figure>
 {{- else }}
    <p>Image not found</p>
{{- end }}
