{{- $site := .Site }}
{{- $section := .section }}
{{- $column := $section.design.column | default 2 }}

{{- $col_span := "" }}
{{- if eq $column 1 }}
{{- $col_span = "col-span-12" }}
{{- else if eq $column 2 }}
{{- $col_span = "col-span-12 lg:col-span-6" }}
{{- else if eq $column 3 }}
{{- $col_span = "colspan-12 lg:col-span-4" }}
{{- else if eq $column 4 }}
{{- $col_span = "col-span-6 lg:col-span-3" }}
{{- else }}
{{- $col_span = "col-span-6 lg:col-span-3" }}
{{- end }}
{{- with $section.images }}
<div class="grid grid-cols-12">
    {{- range $index, $el := . }}
    <div class="{{ $col_span }} relative group overflow-hidden transition duration-500 ease-in-out before:empty-content before:bg-white before:bg-opacity-30 before:absolute before:bottom-0 before:top-0 before:left-1/2 before:right-1/2 before:opacity-100 group-hover:before:left-0 group-hover:before:right-0 group-hover:before:opacity-0 hover:before:transition hover:before:duration-1000 hover:before:ease-linear" {{ if .background_color }}style="background-color: {{ .background_color | safeHTML }}" {{ end }}>
        {{- $include_dict := dict "image" .image "alt_text" .alt_text "Site" $site }}
        {{ partial "functions/image_4_3.html" $include_dict }}
        <div class="absolute w-full h-full top-0 left-0 flex flex-col justify-center">
            <header class="w-80pr mx-auto">
                <h4 class="text-secondary text-thin lg:text-thin text-base lg:text-3xl mb-3">
                    {{- .subtitle | safeHTML }}
                </h4>
                <h3 class="text-primary text-bold lg:text-bold text-lg lg:text-4xl leading-tight lg:leading-tight mb-4">
                    {{- .title | safeHTML }}
                </h3>
                <p class="mb-2"><del class="font-semibold lg:font-semibold mr-2">{{ .reg_price | safeHTML }}</del><span class="text-lg lg:text-3xl">{{ .sale_price | safeHTML }}</span></p>
            </header>
        </div>
    </div>
    {{- end }}
</div>
{{- end }}