{{- $site := .Site }}
{{- $section := .section }}
{{- with $section.features }}
<div class="grid grid-cols-12 grid-rows-2 gap-x-6 gap-y-4">
    {{- range $index, $el := . }}
    <div
        class="banner__box col-span-12 lg:col-span-4 relative bg-body-primary group overflow-hidden {{- if or (eq $index 0) (eq $index 2) (eq $index 4) }}row-span- {{ if eq $index 0 }}row-span-2{{ else if eq $index 1 }}row-span-1{{ else if eq $index 2 }}row-span-2{{ else if eq $index 3 }}row-span-1{{ else }}row-span-2{{ end }}">
        <a class="banner_link" href="{{ .url }}">
            {{- if or (eq $index 0) (eq $index 2) (eq $index 4) }}
            <div class="relative aspect-w-6 aspect-h-7">
                {{ $include_dict_6_7 := dict "image" .image "alt_text" .alt_text "Site" $.Site "class" "absolute w-full h-full left-0 top-0 object-cover transition duration-500 ease-ease group-hover:transform group-hover:scale-105" "resized" "390x455 webp" "fill" true "lazyload" false }}
                {{ partial "functions/get_image.html" $include_dict_6_7 }}
                <div class="absolute w-full h-full left-0 top-0 flex items-end z-30">
                    <header class="banner__header lg:w-1/2 relative px-3 lg:px-6 py-8 after:empty-content after:absolute after:w-12 after:h-2px after:bg-banner-text-primary after:transition after:duration-500 after:ease-ease">
                        {{- if .title }}
                        <h2 class="text-banner-text-primary font-semibold text-base lg:text-xl uppercase leading-none mb-2">{{ .title | safeHTML }}</h2>
                        {{- end }}
                        {{- if .subtitle }}
                        <h4 class="text-banner-text-secondary text-sm font-medium font-body leading-none mb-3">{{ .subtitle | safeHTML }}</h4>
                        {{- end }}
                    </header>
                </div>
            </div>
            {{- else }}
            <div class="relative aspect-w-16 aspect-h-9">
                {{ $include_dict_16_9 := dict "image" .image "alt_text" .alt_text "Site" $.Site "class" "absolute w-full h-full left-0 top-0 object-cover transition duration-500 ease-ease group-hover:transform group-hover:scale-105" "resized" "390x220 webp" "fill" true "lazyload" false }}
                {{ partial "functions/get_image.html" $include_dict_16_9 }}
                <div class="absolute w-full h-full left-0 top-0 flex items-end z-30">
                    <header class="banner__header lg:w-1/2 relative px-3 lg:px-6 py-8 after:empty-content after:absolute after:w-12 after:h-2px after:bg-banner-text-primary after:transition after:duration-500 after:ease-ease">
                        {{- if .title }}
                        <h2 class="text-banner-text-primary font-semibold text-base lg:text-xl uppercase leading-none mb-2">{{ .title | safeHTML }}</h2>
                        {{- end }}
                        {{- if .subtitle }}
                        <h4 class="text-banner-text-secondary text-sm font-medium font-body leading-none mb-3">{{ .subtitle | safeHTML }}</h4>
                        {{- end }}
                    </header>
                </div>
            </div>
            {{- end }}
        </a>
    </div>
    {{- end }}
</div>
{{- end }}