{{- $site := .Site }}
{{- $section := .section }}
{{- $bg := $section.design.background }}
{{- $style := "" }}
{{- $aspect_ratio := "" }}
{{- $aspect_ratio_class := "" }}

{{- if $bg.color }}
{{- $style = printf "background-color: %s;" ($bg.color | default "transparent") }}
{{- end }}

{{- if and $bg.gradient_start $bg.gradient_end }}
{{- $style = printf "%sbackground-image: linear-gradient(%s, %s);" $style $bg.gradient_start $bg.gradient_end }}
{{- end }}

{{- if $bg.image }}
{{- $darken := "" }}
{{- if $bg.image_darken }}
{{- $darken = printf "linear-gradient(rgba(0, 0, 0, %s), rgba(0, 0, 0, %s))," (string $bg.image_darken) (string $bg.image_darken) }}
{{- end }}

{{- $imageResource := ($site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" ( $bg.image | relURL )) }}
{{- $resize_21_2 := $imageResource.Fill "1536x146 webp" }}
{{- $resize_21_3 := $imageResource.Fill "1536x219 webp" }}
{{- $resize_21_4 := $imageResource.Fill "1536x292 webp" }}
{{- $resize_21_9 := $imageResource.Fill "1536x658 webp" }}

{{- if eq $section.design.aspect_ratio "21:2" }}
{{- $aspect_ratio = $resize_21_2.RelPermalink }}
{{- $aspect_ratio_class = "aspect-w-21 aspect-h-9 lg:aspect-w-21 lg:aspect-h-2" }}
{{- else if eq $section.design.aspect_ratio "21:3" }}
{{- $aspect_ratio = $resize_21_3.RelPermalink }}
{{- $aspect_ratio_class = "aspect-w-21 aspect-h-9 lg:aspect-w-21 lg:aspect-h-3" }}
{{- else if eq $section.design.aspect_ratio "21:4" }}
{{- $aspect_ratio = $resize_21_4.RelPermalink }}
{{- $aspect_ratio_class = "aspect-w-21 aspect-h-9 lg:aspect-w-21 lg:aspect-h-4" }}
{{- else if eq $section.design.aspect_ratio "21:9" }}
{{- $aspect_ratio = $resize_21_9.RelPermalink }}
{{- $aspect_ratio_class = "aspect-w-21 aspect-h-9" }}
{{- else }}
{{- $aspect_ratio = $resize_21_2.RelPermalink }}
{{- $aspect_ratio_class = "aspect-w-21 aspect-h-9 lg:aspect-w-21 lg:aspect-h-2" }}
{{- end }}

{{- $style = printf "%sbackground-image: %s url('%s');" $style $darken $aspect_ratio }}
{{- end }}

{{- with $section.design.spacing.padding }}
{{- $style_padding := printf "padding: %s;" (delimit . " ") }}
{{- $style = print $style $style_padding }}
{{- end }}

<div class="banner__image relative overflow-hidden transition-all duration-500 ease-ease" {{with $style}}style="{{ . | safeCSS}}"{{end}}>
    <div class="relative {{ with $aspect_ratio_class }}{{.}}{{ end }}">

        <div class="absolute w-full h-full left-0 top-0 flex items-end z-30">
            <header class="banner__header lg:w-1/2 relative px-3 lg:px-6 py-8 after:empty-content after:absolute after:w-12 after:h-2px after:bg-primary after:transition after:duration-500 after:ease-out">
                {{- with $section.title }}
                <h2 class="text-primary font-semibold text-base lg:text-xl uppercase leading-none mb-2">{{ . | safeHTML }}</h2>
                {{- end }}
                {{- with $section.subtitle }}
                <h4 class="text-secondary text-sm font-medium font-body leading-none mb-3">{{ . | safeHTML }}</h4>
                {{- end }}
            </header>
        </div>
    </div>
</div>
