{{- define "content" }}
<main id="content" class="site-content bg-body transition duration-500 ease-ease" x-data="pages">
    {{- range $section := .Params.sections }}
    {{- $style := $section.design.style }}
    {{- $use_container := $section.design.container | default true }}
    <div id="{{ replace $section.type "_" "-" }}"
        class="section" {{with $style}}style="{{ . | safeCSS}}"{{end}}>
        {{- if $use_container }}
        <div class="container w-full mx-auto max-w-screen-xl py-6 px-3 lg:px-8">
        {{- end }}
            {{- $include_dict := dict "section" $section "Site" $.Site }}
            {{- $component := print "sections/" $section.type ".html" }}
            {{ partial $component $include_dict }}
        {{- if $use_container }}
        </div>
        {{- end }}
    </div>
    {{- end }}




</main>
{{- end }}