{{- define "content" -}}
{{- $site := .Site }}
<main id="site-main" class="site__main-list" x-data="pages"> 
    <div class="container w-full max-w-screen-xl mx-auto px-3 lg:px-12 py-4"> 
        <div class="list__card mb-6">
            <div class="bg-white pt-4 pb-8 mb-6">
                <div
                    class="grid {{ range $index, $li := first 1 .Data.Pages }}{{ if eq .Section "shop" }}grid-cols-12 lg:grid-cols-10{{else}}grid-cols-12{{end}}{{end}} gap-3 lg:gap-6 mb-8">
                    {{- $paginator := .Paginate .Data.Pages }}
                    {{- range  $index, $el := $paginator.Pages }}
                    {{- if eq .Section "shop" }}
                    {{- $include_dict := dict "post" . "index" $index "class" "feed-item" "mod" 4 "Site" $.Site }}
                    {{- partial "shop_list_item.html" $include_dict }}
                    {{- else }}
                    {{ partial "blog_list_item" . }}
                    {{- end }}
                    {{- end }}
                </div>
                {{ partial "pagination" . }}
            </div>
        </div>
    </div>
</main>
{{- end -}}