{{- define "content" -}}
<main id="site-main" class="site__main page-list bg-body" x-data="pages">

    <div id="hero-section" class="section__hero-section bg-body-primary bg-hero-banner bg-cover bg-center py-12 px-3 mb-6">
        <div class="flex items-center justify-center text-center">
            <h1 class="section__title text-gray-700 text-xl lg:text-3xl capitalize">{{ .Title }}</h1>
        </div>
    </div>
   
    <div class="container w-full max-w-screen-xl mx-auto px-3 lg:px-12 py-4"> 
        <div class="list__card mb-6">
            <div class="grid {{ range $index, $li := first 1 .Data.Pages }}{{ if eq .Section "shop" }}grid-cols-12 lg:grid-cols-10{{else}}grid-cols-12{{end}}{{end}} gap-3 lg:gap-6 mb-8">
                {{- $paginator := .Paginate .Data.Pages }}
                {{- range  $index, $el := $paginator.Pages }}
                {{- if eq .Section "shop" }}
                {{- $include_dict := dict "post" . "index" $index "class" "feed-item" "mod" 4 "Site" $.Site }}
                {{- partial "shop_list_item.html" $include_dict }}
                {{- else }}
                {{- $include_dict := dict "post" . "index" $index "class" "post-item" "mod" 4 "Site" $.Site }}
                {{- partial "blog_list_item.html" $include_dict }}
                {{- end }}
                {{- end }}
            </div>
            {{ partial "pagination.html" . }}
        </div>
    </div>
</main>
{{- end -}}