{{- define "content" -}}
{{- $site := .Site }}
<main id="site-main" class="site__main page-terms bg-body" x-data="pages">

    <div class="container w-full max-w-screen-xl mx-auto px-3 lg:px-12 py-4">
        <div class="list__card mb-6">
            {{- range .Data.Terms.Alphabetical }}
            <header class="relative flex justify-between items-center border-b border-solid border-border py-2 mb-6">
                <a href="{{ .Page.RelPermalink }}">
                    <h3 class="text-primary leading-none capitalize mb-0 after:empty-content after:absolute after:w-12 after:h-2px after:left-0 after:top-full after:bg-primary after:transition after:duration-500 after:ease-ease">
                    {{- .Page.Title | humanize }} <span>({{ .Count }})</span></h3>
                </a>
                <a class="flex items-center text-body-text text-xs lg:text-sm uppercase hover:text-primary"
                    href="{{ .Page.RelPermalink }}">
                    <span class="mr-3">view all</span>
                    {{ partial "svg/icon-view-all.svg" (dict "class" "fill-current") }}
                </a>
            </header>
            <div class="grid {{ range $index, $li := first 1 .Pages }}{{ if eq .Section "shop" }}grid-cols-12 lg:grid-cols-10{{else}}grid-cols-12{{end}}{{end}} gap-3 lg:gap-6">
                {{- range $index, $el := .Pages.ByTitle }}
                {{- if eq .Section "shop" }}
                {{- $include_dict := dict "post" . "index" $index "class" "feed-item" "mod" 4 "Site" $.Site }}
                {{ partial "shop_list_item.html" $include_dict }}
                {{- else }}
                {{- $include_dict := dict "post" . "index" $index "class" "post-item" "mod" 4 "Site" $.Site }}
                {{- partial "blog_list_item.html" $include_dict }}
                {{- end }}
                {{- end }}
            </div>
            {{- end }}
        </div>
    </div>
</main>
{{- end -}}