/* purgecss start ignore */
:root {
    --body: {{ .Site.Data.theme.colors.body | default "#ffffff" }};
    --body-primary: {{ .Site.Data.theme.colors.body_primary | default "#fafafa" }};
    --body-secondary: {{ .Site.Data.theme.colors.body_secondary | default "#f5f5f5" }};
    --body-text: {{ .Site.Data.theme.colors.body_text | default "#000000" }};
    --body-text-primary: {{ .Site.Data.theme.colors.body_text_primary | default "#111827" }};
    --body-text-secondary: {{ .Site.Data.theme.colors.body_text_secondary | default "#1F2937" }};
    --heading: {{ .Site.Data.theme.colors.heading | default "#111827" }};
    --heading-primary: {{ .Site.Data.theme.colors.heading_primary | default "#374151" }};
    --heading-secondary: {{ .Site.Data.theme.colors.heading_secondary | default "#9CA3AF" }};
    --menu-bg: {{ .Site.Data.theme.colors.menu_bg | default "transparent" }};
    --menu-bg-hover: {{ .Site.Data.theme.colors.menu_bg_hover | default "transparent" }};
    --submenu-bg: {{ .Site.Data.theme.colors.submenu_bg | default "#F9FAFB" }};
    --submenu-bg-hover: {{ .Site.Data.theme.colors.submenu_bg_hover | default "#F3F4F6" }};
    --menu-text: {{ .Site.Data.theme.colors.menu_text | default "#374151" }};
    --menu-text-hover: {{ .Site.Data.theme.colors.menu_text_hover | default "#9CA3AF" }};
    --submenu-text: {{ .Site.Data.theme.colors.submenu_text | default "#374151" }};
    --submenu-text-hover: {{ .Site.Data.theme.colors.submenu_text_hover | default "#FF8C94" }};
    --header: {{ .Site.Data.theme.colors.header | default "#ffffff" }};
    --header-text: {{ .Site.Data.theme.colors.header_text | default "#000000" }};
    --footer: {{ .Site.Data.theme.colors.footer | default "#ffffff" }};
    --footer-primary: {{ .Site.Data.theme.colors.footer_primary | default "#fafafa" }};
    --footer-secondary: {{ .Site.Data.theme.colors.footer_secondary | default "#f5f5f5" }};
    --footer-text: {{ .Site.Data.theme.colors.footer_text | default "#374151" }};
    --footer-text-primary: {{ .Site.Data.theme.colors.footer_text_primary | default "#6B7280" }};
    --footer-text-secondary: {{ .Site.Data.theme.colors.footer_text_secondary | default "#9CA3AF" }};
    --banner-text-primary: {{ .Site.Data.theme.colors.banner_text_primary | default "#111827" }};
    --banner-text-secondary: {{ .Site.Data.theme.colors.banner_text_secondary | default "#6B7280" }};
    --primary: {{ .Site.Data.theme.colors.primary | default "#FF8C94" }};
    --secondary: {{ .Site.Data.theme.colors.secondary | default "#FFAAA6" }};
    --primary-text: {{ .Site.Data.theme.colors.primary_text | default "#fafafa" }};
    --secondary-text: {{ .Site.Data.theme.colors.secondary_text | default "#fafafa" }};
    --hint-text: {{ .Site.Data.theme.colors.hint_text | default "#E5E7EB" }};
    --action: {{ .Site.Data.theme.actions_color.action | default "#FF8C94" }};
    --action-hover: {{ .Site.Data.theme.actions_color.action_hover | default "#FF8C94" }};
    --border-color: {{ .Site.Data.theme.colors.border_color | default "#D1D5DB" }};
    --font-heading: {{ .Site.Data.theme.fonts.font_heading | default "Josefin Sans" }}, 'sans-serif';
    --font-body: {{ .Site.Data.theme.fonts.font_body | default "Lato" }}, 'sans-serif';
  }
  
  [data-theme="dark"] {
    --body: #121212;
    --body-primary: #1e1e1e;
    --body-secondary: #2e2e2e;
    --body-text: #ffffff;
    --body-text-primary: #F3F4F6;
    --body-text-secondary: #E5E7EB;
    --heading: #ffffff;
    --heading-primary: #F9FAFB;
    --heading-secondary: #D1D5DB;
    --menu-bg: transparent;
    --menu-bg-hover: #121212;
    --submenu-bg: #1e1e1e;
    --submenu-bg-hover: #2e2e2e;
    --menu-text: #ffffff;
    --menu-text-hover: #F9FAFB;
    --submenu-text: #ffffff;
    --submenu-text-hover: #FF8C94;
    --header: #121212;
    --header-text: #ffffff;
    --footer: #121212;
    --footer-primary: #1e1e1e;
    --footer-secondary: #2e2e2e;
    --footer-text: #ffffff;
    --footer-text-primary: #fafafa;
    --footer-text-secondary: #6B7280;
    --banner-text-primary: #111827;
    --banner-text-secondary: #9CA3AF;
    --primary: {{ .Site.Data.theme.colors.primary | default "#111827" }};
    --secondary: {{ .Site.Data.theme.colors.secondary | default "#6B7280" }};
    --primary-text: {{ .Site.Data.theme.colors.primary_text | default "#fafafa" }};
    --secondary-text: {{ .Site.Data.theme.colors.secondary_text | default "#fafafa" }};
    --action: {{ .Site.Data.theme.actions_color.action | default "#FF8C94" }};
    --action-hover: {{ .Site.Data.theme.actions_color.action_hover | default "#FF8C94" }};
    --hint-text: #6B7280;
    --border-color: #D1D5DB;
  }
/* purgecss end ignore */
