/*------------------------------------------------------------------
Project:		Vitoko Theme
Version:		1.0.0
Last change: 	09/01/2020
-------------------------------------------------------------------*/

@tailwind base;
@tailwind components;
/* purgecss start ignore */
@import "partials/splide.min.css";
/* purgecss end ignore */
@import "partials/header.css";
@tailwind utilities;
@import "partials/global.css";
@import "partials/footer.css";
@import "site.css";

.banner__image {
    transition: 0.5s ease;
}

.banner__image:hover:before {
    transition: all 900ms linear;
    @apply left-0 right-0 opacity-0 transition-all duration-1000 ease-in-out;
}
