{{- $site := .Site }}
{{- $url := urls.Parse .Site.BaseURL }}
{{- $image := .image }}
{{- $alt := .alt_text | default "alt text" }}
{{- $class := .class | default "absolute w-full h-full left-0 top-0 object-cover" }}
{{- $fill := .fill }}
{{- $lazyload := .lazyload | default true }}
<!-- aspect ratio 4:3 -->
{{- $resized := .resized | default "520x390 webp" }}
{{- $imageResource := ($site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" ( $image | relURL )) }}

{{- if $fill }}
{{- $resized = $imageResource.Fill $resized }}
{{- else }}
{{- $resized = $imageResource.Resize $resized }}
{{- end }}

{{- if $lazyload }}
<img class="{{ $class }} blur-up lazyload" data-src="{{ if .Site.Params.is_statically }}https://cdn.statically.io/img/{{ $url.Host }}/q=100{{ $resized.RelPermalink }}{{ else }}{{ $resized.RelPermalink }}{{ end }}" alt="{{ $alt }}" />
{{- else }}
<img class="{{ $class }}" src="{{ if .Site.Params.is_statically }}https://cdn.statically.io/img/{{ $url.Host }}/q=100{{ $resized.RelPermalink }}{{ else }}{{ $resized.RelPermalink }}{{ end }}" alt="{{ $alt }}" />
{{- end }}