{{- $site := .Site }}
{{- $image := .image }}
{{- $alt := .alt_text | default "alt text" }}
{{- $imageResource := ($site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" ( $image | relURL )) }}
{{- $resizedmd := $imageResource.Fill "674x379 q90 webp" }}
<div class="image__wrapper relative">
    <img class="image w-full transition duration-500 ease-in-out before:empty-content before:bg-white before:bg-opacity-30 before:absolute before:bottom-0 before:top-0 before:left-1/2 before:right-1/2 before:opacity-100 hover:before:left-0 hover:before:right-0 hover:before:opacity-0 transition duration-500 ease-in-out" alt="{{ $alt }}" src="{{ $resizedmd.RelPermalink }}" />
</div>