{{- $site := .Site }}
{{- $image := .image }}
{{- $alt := .alt_text | default "alt text" }}
{{- $imageResource := ($site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" ( $image | relURL )) }}
{{- $resizedsm := $imageResource.Fill "640x360 webp" }}
{{- $resizedmd := $imageResource.Fill "768x432 webp" }}
<div class="image__wrapper relative aspect-w-16 aspect-h-9">
    <picture>
        <source media="(min-width: 768px)" srcset="{{ $resizedmd.RelPermalink }}">
        <source media="(min-width: 640px)" srcset="{{ $resizedsm.RelPermalink }}">
        <img class="image absolute w-full h-full object-cover" alt="{{ $alt }}" src="{{ $resizedsm.RelPermalink }}" />
    </picture>
</div>