{{- $site := .Site }}
{{- $url := urls.Parse .Site.Data.theme.cdn.domain_name }}
{{- $image := .image }}
{{- $alt := .alt_text | default "alt text" }}
{{- $imageResource := ($site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" ( $image | relURL )) }}
<!-- Aspect ratio 4:3 -->
{{- $resizedsm := $imageResource.Fill "640x480 center webp" }}
<!-- Aspect ratio 16:9 -->
{{- $resizedmd := $imageResource.Fill "768x432 webp" }}
{{- $resizedlg := $imageResource.Fill "1024x576 webp" }}
<!-- Aspect ratio 21:9 -->
{{- $resizedxl := $imageResource.Fill "1280x549 webp" }}
{{- $resized2xl := $imageResource.Fill "1536x658 webp" }}

{{- if .Site.Data.theme.cdn.is_statically }}
<div class="image__wrapper relative aspect-w-4 aspect-h-3 lg:aspect-w-16 lg:aspect-h-9 xl:aspect-w-21 xl:aspect-h-9">
    <picture>
        <source media="min-width: 1536px)" data-srcset="https://cdn.statically.io/img/{{ $url.Host }}/q=100{{ $resized2xl.RelPermalink }}">
        <source media="(min-width: 1280px)" data-srcset="https://cdn.statically.io/img/{{ $url.Host }}/q=100{{ $resizedxl.RelPermalink }} 1x,
            https://cdn.statically.io/img/{{ $url.Host }}/q=100{{- $resized2xl.RelPermalink }} 2x">
        <source media="(min-width: 1024px)" data-srcset="https://cdn.statically.io/img/{{ $url.Host }}/q=100{{ $resizedlg.RelPermalink }} 1x,
            https://cdn.statically.io/img/{{ $url.Host }}/q=100{{- $resizedxl.RelPermalink }} 2x,
            https://cdn.statically.io/img/{{ $url.Host }}/q=100{{- $resized2xl.RelPermalink }} 3x">
        <source media="(min-width: 768px)" data-srcset="https://cdn.statically.io/img/{{ $url.Host }}/q=100{{ $resizedmd.RelPermalink }} 1x,
            https://cdn.statically.io/img/{{ $url.Host }}/q=100{{- $resizedlg.RelPermalink }} 2x,
            https://cdn.statically.io/img/{{ $url.Host }}/q=100{{- $resizedxl.RelPermalink }} 3x">
        <source media="(min-width: 640px)" data-srcset="https://cdn.statically.io/img/{{ $url.Host }}/q=100{{ $resizedsm.RelPermalink }} 1x,
            https://cdn.statically.io/img/{{ $url.Host }}/q=100{{- $resizedmd.RelPermalink }} 2x,
            https://cdn.statically.io/img/{{ $url.Host }}/q=100{{- $resizedlg.RelPermalink }} 3x">
        <img class="image absolute w-full h-full object-cover blur-up lazyload" alt="{{ $alt }}" data-src="https://cdn.statically.io/img/{{ $url.Host }}/q=100{{ $resizedsm.RelPermalink }}" />
    </picture>
</div>
{{- else }}
<div class="image__wrapper relative aspect-w-4 aspect-h-3 lg:aspect-w-16 lg:aspect-h-9 xl:aspect-w-21 xl:aspect-h-9">
    <picture>
        <source media="min-width: 1536px)" data-srcset="{{ $resized2xl.RelPermalink }}">
        <source media="(min-width: 1280px)" data-srcset="{{ $resizedxl.RelPermalink }} 1x,
            {{- $resized2xl.RelPermalink }} 2x">
        <source media="(min-width: 1024px)" data-srcset="{{ $resizedlg.RelPermalink }} 1x,
            {{- $resizedxl.RelPermalink }} 2x,
            {{- $resized2xl.RelPermalink }} 3x">
        <source media="(min-width: 768px)" data-srcset="{{ $resizedmd.RelPermalink }} 1x,
            {{- $resizedlg.RelPermalink }} 2x,
            {{- $resizedxl.RelPermalink }} 3x">
        <source media="(min-width: 640px)" data-srcset="{{ $resizedsm.RelPermalink }} 1x,
            {{- $resizedmd.RelPermalink }} 2x,
            {{- $resizedlg.RelPermalink }} 3x">
        <img class="image absolute w-full h-full object-cover blur-up lazyload" alt="{{ $alt }}" data-src="{{ $resizedsm.RelPermalink }}" />
    </picture>
</div>
{{- end }}