{{- $site := .Site }}
{{- $image := .image }}
{{- $alt := .alt_text | default "alt text" }}
{{- $imageResource := ($site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" ( $image | relURL )) }}
<!-- Aspect ratio 4:3 -->
{{- $resizedxs := $imageResource.Fill "414x310 center webp" }}
{{- $resizedsm := $imageResource.Fill "640x480 center webp" }}
<!-- Aspect ratio 16:9 -->
{{- $resizedmd := $imageResource.Fill "768x432 webp" }}
{{- $resizedlg := $imageResource.Fill "1024x576 webp" }}
<!-- Aspect ratio 21:9 -->
{{- $resizedxl := $imageResource.Fill "1280x549 webp" }}
{{- $resized2xl := $imageResource.Fill "1536x658 webp" }}
<div class="image__wrapper relative aspect-w-4 aspect-h-3 lg:aspect-w-16 lg:aspect-h-9 xl:aspect-w-21 xl:aspect-h-9">
    <picture>
        <source media="min-width: 1536px)" srcset="{{ $resized2xl.RelPermalink }}">



        <source media="(max-width: 640px)" srcset="{{ $resizedxs.RelPermalink }} 320w,
            {{- $resizedsm.RelPermalink }} 500w">
        <source media="(max-width: 768px)" srcset="{{ $resizedsm.RelPermalink }} 640w,
            {{- $resizedmd.RelPermalink }} 700w">
        <source media="(max-width: 1024px)" srcset="{{ $resizedmd.RelPermalink }} 770w,
            {{- $resizedlg.RelPermalink }} 900w">
        <source media="(min-width: 1280px)" srcset="{{ $resizedxl.RelPermalink }} 1x,
            {{- $resized2xl.RelPermalink }} 2x">
        <img class="image absolute w-full h-full object-cover blur-up lazyload" alt="{{ $alt }}" src="{{ $resizedmd.RelPermalink }}" />
    </picture>
</div>