{{- $site := .Site }}
<div
    class="feed-item col-span-12 lg:col-span-4 transition duration-500 ease-in-out hover:transform hover:-translate-y-1 rounded-sm shadow-sm">
    {{- if .Params.thumbnail }}
    <a class="feed-item__link" href="{{ .RelPermalink }}">
    {{- $include_dict := dict "image" .Params.thumbnail "alt_text" .Title "Site" .Site }}
    {{ partial "functions/image_3_2.html" $include_dict }}
        <div class="responsive aspect-w-3 aspect-h-3">
        {{- $include_dict := dict "image" .Params.thumbnail "alt_text" .Title "Site" .Site "resized" "381x254 webp" "fill" true }}
        {{ partial "functions/get_image.html" $include_dict }}
        </div>
    </a>
    {{- end }}
    <div class="feed-item__info py-4 px-3">
        <div class="feed_item__published mb-2">
            <time
                class="feed__published text-sm text-body-text-secondary">{{- with .Params.dateFormat }}{{ .Date.Format . }}{{ else }}{{ .Date.Format "02 January 2006" }}{{ end }}</time>
        </div>
        <a class="feed-item__link" href="{{ .RelPermalink }}">
            <h3 class="feed-item__title text-sm lg:text-base text-header-text font-heading font-medium mb-1">{{ .Title }}</h3>
        </a>
    </div>
</div>