{{- $site := .Site }}
{{- $post := .post }}
{{- $class := .class | default "" }}
{{- $item_class := $class }}
{{- $mod := .mod | default 2 }}
{{- $index := .index }}
{{- if eq (mod $index $mod) 0 }}
{{- $item_class =  print $class "-" $index }}
{{- end }}
<div
    class="{{- $item_class }} col-span-12 lg:col-span-4 transition duration-500 ease-ease hover:shadow-lg">
    {{- if $post.Params.thumbnail }}
    <a class="feed-item__link" href="{{ .RelPermalink }}">
        <div class="responsive aspect-w-3 aspect-h-2">
        {{- $include_dict := dict "image" $post.Params.thumbnail "alt_text" .Title "Site" .Site "resized" "381x254 webp" "fill" true "lazyload" .Site.Data.theme.lazysizes }}
        {{ partial "functions/get_image.html" $include_dict }}
        </div>
    </a>
    {{- end }}
    <div class="feed-item__info py-4 px-3">
        <div class="feed_item__published mb-2">
            <time
                class="feed__published text-sm text-heading-secondary">{{- with $post.Params.dateFormat }}{{ .Date.Format . }}{{ else }}{{ .Date.Format "02 January 2006" }}{{ end }}</time>
        </div>
        <a class="feed-item__link" href="{{ .RelPermalink }}">
            <h3 class="feed-item__title text-sm lg:text-base text-heading font-heading font-medium mb-1">{{ .Title }}</h3>
        </a>
    </div>
</div>