{{- $site := .Site }}
{{- $related := .Site.RegularPages.Related . | first 6 }}
<section x-data="related" class="shop__related col-span-12 py-4 mb-6"
    x-init='related = [ {{- with $related }}{{- range $index, $el := . }}{{- if $index }},{{- end }}
        { 
            title: {{ .Title | jsonify }},
            id: {{ $index | jsonify }}{{- if .Params.thumbnail }}{{- $imageResource := ($site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" ( .Params.thumbnail | relURL )) }}{{- $resized := $imageResource.Fill "224x269 Top webp" }}
            image: {{ $resized.RelPermalink | jsonify }},{{- end }}{{- if isset .Params "badge" }}
            badge: {{ index .Params "badge" | jsonify }},{{- end }}{{ if .Params.badge_color }}
            badgeColor: {{ .Params.badge_color | jsonify }},{{ end }}{{- with .Params.variants }}{{ range first 1 . }}{{- if .discount }}
            discount: {{ lang.NumFmt 0 (add .price .discount) "- , ." | jsonify }},{{ end }}{{ if .price }}
            price: {{ lang.NumFmt 0 .price "- , ." | jsonify }},{{- end }}{{- end }}{{- end }}
            url: {{ .RelPermalink | jsonify }}
        }{{- end }}{{- end }}]'>
    <header class="text-center mb-6">
        <h3 class="text-heading lg:text-3xl">Produk Terkait</h3>
    </header>
    <div class="grid grid-cols-12 lg:grid-cols-10 gap-3 lg:gap-6">
        {{- with $related }}
        {{- range $index, $el := . }}
        {{- $include_dict := dict "post" . "index" $index "class" "related-item" "Site" $.Site }}
        {{ partial "shop_related_list.html" $include_dict }}
        {{- end }}
        {{- end }}
    </div>
</section>