{{- $variants := .Params.variants }}
{{- $variantsCount := len .Params.variants }}
<div class="shop__info col-span-12 lg:col-span-6 py-4 px-3 lg:px-4">
    <h1 class="shop__title text-xl lg:text-3xl text-heading font-heading mb-2">
        <span class="shop__name">{{ .Title }}</span>
        {{- if gt $variantsCount 1 }}
        <span class="shop__size" x-text="$store.shop.items.variants[$store.shop.activeVariant].size"></span>
        {{- end }}
    </h1>
    <div class="shop__price-wrap flex items-center justify-between mb-3">
        <h3 class="shop__price font-body font-medium lg:text-3xl mt-2 mb-0">
            <template x-if="$store.shop.items.variants[$store.shop.activeVariant].discount">
                <del class="text-lg text-heading-secondary mr-4"
                    x-text="$store.shop.localPrice($store.shop.items.variants[$store.shop.activeVariant].price + $store.shop.items.variants[$store.shop.activeVariant].discount)"></del>
            </template>
            <span class="text-heading-primary text-xl lg:text-2xl"
                x-text="$store.shop.localPrice($store.shop.items.variants[$store.shop.activeVariant].price)"></span>
        </h3>
    </div> 
    <div class="shop__availability flex items-center mb-4">
        <div class="shop__sku">
            <label class="w-16 inline-block">
                <span class="text-sm lg:text-base text-heading-primary">SKU</span>
            </label>: 
            <span  class="text-sm lg:text-base text-heading-secondary" x-text="$store.shop.items.variants[$store.shop.activeVariant].sku"></span>
        </div>
        <div class="flex w-5px items-center ml-6 mr-3">
            <span class="w-5px h-5px bg-gray-500 rounded-md"></span>
        </div>
        <div class="shop__stock">
            <span class="text-sm lg:text-base text-heading-primary">Stok:</span>
            <template x-if="$store.shop.items.variants[$store.shop.activeVariant].quantity === undefined">
                <span class="text-sm lg:text-base text-heading-secondary">Kosong</span>
            </template>
            <template x-if="$store.shop.items.variants[$store.shop.activeVariant].quantity >= 1">
                <span class="text-sm lg:text-base text-heading-secondary">Tersedia</span>
            </template>
        </div>
    </div>
    <div class="flex flex-wrap items-center border-b border-solid border-gray-200 pb-4 mb-12">
        {{- if .Params.collections }}
        <div class="shop__color flex items-center">
            <label class="w-16 inline-block">
                <span class="text-sm lg:text-base text-heading-primary">Kategori</span>
            </label>: 
            {{- range (.GetTerms "collections") }}
            <a class="inline-block text-sm lg:text-base text-heading-secondary hover:text-primary capitalize ml-1"
                href="{{ .RelPermalink }}">{{ .LinkTitle }}</a><span class="last:hidden">,</span>
            {{- end }}
        </div>
        {{- end }}        
        <div class="flex w-5px items-center ml-6 mr-3">
            <span class="w-5px h-5px bg-gray-500 rounded-md"></span>
        </div>
        {{- if .Params.tags }}
        <div class="shop__color flex items-center">
            <span class="text-sm lg:text-base text-heading-primary">Tag{{ if gt (len .Params.tags ) 1 }}s{{ end }}:</span>
            {{- range (.GetTerms "tags") }}
            <a class="inline-block text-sm lg:text-base text-heading-secondary hover:text-primary capitalize ml-1"
                href="{{ .RelPermalink }}">{{ .LinkTitle }}</a><span class="last:hidden">,</span>
            {{- end }}
        </div>
        {{- end }}
    </div>
    {{- if .Params.color }}
    <div class="shop__color flex items-center mb-6">
        <label class="w-16 inline-block">
            <span class="text-sm lg:text-base text-heading-primary">Warna</span>
        </label>: 
        {{- range (.GetTerms "color") }}
        <a class="shop__color-item inline-block text-sm lg:text-base text-heading-secondary hover:text-primary capitalize ml-1"
            href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{- end }}
    </div>
    {{- end }}
    {{- if gt $variantsCount 1 }}
    <div class="shop__variant mb-6">
        <label class="shop__variant-label w-16 inline-block">
            <span class="text-sm lg:text-base text-heading-primary">Size</span>
        </label>:
        {{- range $index, $el := .Params.variants }}
        <button
            class="shop__variant-button relative text-sm border border-solid focus:outline-none transition duration-75 ease-ease py-3px px-3 mr-2"
            x-on:click="$store.shop.activeVariant = {{ $index }}" :class="{ 
        'text-primary border-primary before:empty-content before:absolute before:inline-block before:bottom-0 before:right-0 before:border-b-12 before:border-l-10 before:border-primary': $store.shop.activeVariant === {{ $index }},
        'text-heading-secondary hover:text-primary border-heading-secondary hover:border-primary': $store.shop.activeVariant !== {{ $index }}
    }">
            <span>{{ .size }}</span>
        </button>
        {{- end }}
    </div>
    {{- end }}
    <div class="shop__order flex flex-wrap items-center mb-3">
        <div class="shop__quantity flex items-center mr-6">
            <div class="shop__counter flex items-center text-body-text border border-solid border-border-color ml-1">
                <div>
                    <span class="shop__counter-qty text-center focus:outline-none py-4 px-6" x-text="$store.shop.count"></span>
                </div>
                <div>
                    <button
                        class="shop__counter-btn block focus:outline-none hover:bg-body-secondary border-b border-l border-solid border-border-color py-1px px-3"
                        x-on:click="$store.shop.count++">&plus;</button>
                    <button
                        class="shop__counter-btn block focus:outline-none hover:bg-body-secondary border-l border-solid border-border-color py-1px px-3"
                        x-on:click="$store.shop.count--" x-bind:disabled="$store.shop.count == 1" :class="{ 
					'hover:text-red-300': $store.shop.count == 1,
					'hover:bg-gray-100': $store.shop.count !== 1
					}">&minus;</button>
                </div>
            </div>
        </div>
        <div class="shop__order-btn">
            <button
                class="shop__order-cart leading-none flex focus:outline-none items-center border-0 rounded py-3 px-4 mr-3 lg:mr-4" 
                @click="$store.shop.addItem();$nextTick(() => $store.shop.save());" :class="{ 
                'text-body-text-secondary bg-body-secondary': $store.shop.items.variants[$store.shop.activeVariant].quantity === undefined,
                'text-primary-text bg-action hover:bg-action-hover': $store.shop.items.variants[$store.shop.activeVariant].quantity > 0
            }" :disabled="$store.shop.items.variants[$store.shop.activeVariant].quantity === undefined">
                {{ partial "svg/shopping-cart.svg" (dict "class" "w-4 h-4 inline-block fill-current mr-2") }}
                <span>Beli Sekarang</span>
            </button>
        </div>
        <div class="shop__order-btn pt-6 lg:pt-0">
            <a x-bind:href="`https://api.whatsapp.com/send?phone==${$store.shop.user.whatsapp}&text=Hi%20kak%20${$store.shop.user.name}%2C%20saya%20mau%20order%20${$store.shop.items.title}%20*${$store.shop.items.variants[$store.shop.activeVariant].size}*%20(harga:%20${$store.shop.localPrice($store.shop.items.variants[$store.shop.activeVariant].price)})%20%20di%20toko%20${$store.shop.user.shop_name}%20,%20mohon%20segera%20diproses%20ya%20kak`"
                target="_blank" rel="noopener"
                class="product__order-wa leading-none no-underline flex focus:outline-none items-center border-0 rounded py-3 px-4"
                :class="{ 
                'text-body-text-secondary bg-body-secondary': $store.shop.items.variants[$store.shop.activeVariant].quantity === undefined,
                'text-white bg-green-500 hover:bg-green-400': $store.shop.items.variants[$store.shop.activeVariant].quantity > 0
            }">
                {{ partial "svg/icon-whatsapp.svg" (dict "class" "w-4 h-4 inline-block fill-current mr-2") }}
                <span>Beli via Whatsapp</span>
            </a>
        </div>
    </div>
    {{- if .Site.Data.theme.single_shop.marketplace_link }}
    <div class="marketplace__link text-center py-8">
        <div class="mb-6">
            <h4 class="text-heading font-medium text-center">Anda juga dapat memesan produk kami di marketplace berikut:</h4>
        </div>
        <div class="mb-3">
            <a class="inline-block bg-body hover:bg-body-secondary rounded-md border border-border-color border-solid px-3 py-1" href="{{ . }}">
                <div class="w-40 bg-shopee bg-cover bg-center pt-8">
                </div>
            </a>
        </div>
        <div class="mb-3">
            <a class="inline-block bg-body hover:bg-body-secondary rounded-md border border-border-color border-solid px-3 py-1" href="{{ . }}">
                <div class="w-40 bg-lazada bg-cover bg-center pt-8">
                </div>
            </a>
        </div>
        <div class="mb-3">
            <a class="inline-block bg-body hover:bg-body-secondary rounded-md border border-border-color border-solid px-3 py-1" href="{{ . }}">
                <div class="w-40 bg-blibli bg-cover bg-center pt-8">
                </div>
            </a>
        </div>
        <div class="mb-3">
            <a class="inline-block bg-body hover:bg-body-secondary rounded-md border border-border-color border-solid px-3 py-1" href="{{ . }}">
                <div class="w-40 bg-tokopedia bg-cover bg-center pt-8">
                </div>
            </a>
        </div>
        <div class="mb-3">
            <a class="inline-block bg-body hover:bg-body-secondary rounded-md border border-border-color border-solid px-3 py-1" href="{{ . }}">
                <div class="w-40 bg-bukalapak bg-cover bg-center pt-8">
                </div>
            </a>
        </div>
    </div>
    {{- end }}
</div>