{{- $site := .Site }}
<div x-data class="shop container w-full max-w-screen-xl mx-auto px-3 lg:px-12 py-4" 
    x-init='$store.shop.items = { title: {{ .Title | jsonify }},{{ if .Params.images }}{{range first 1 .Params.images }}{{- $image := .image }}{{- $imageResource := ($site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" ( $image | relURL )) }}{{- $resized := $imageResource.Fill "70x84" }}
            thumbnail: {{ .image | absURL | jsonify }},
            image: {{ $resized.RelPermalink | jsonify }},{{ end }}{{ end }}{{ if .Params.variants }}
            variants: [ {{range $index, $el := .Params.variants }}{{ if gt $index 0 }}, {{ end }}
                {
                    id: {{ $index | jsonify }},
                    name: {{ .name | urlize | upper | jsonify }},{{ if .size }}
                    size: {{ .size | jsonify }},{{ end }}{{ if .sku }}
                    sku: {{ .sku | jsonify }},{{ end }}{{ if .price }}
                    price: {{ .price }},{{ end }}{{ if .discount }}
                    discount: {{ .discount }},{{ end }}{{ if .weight }}
                    weight: {{ .weight }},{{ end }}{{ if .quantity }}
                    quantity: {{ .quantity }}{{ end }}
                }{{ end }}
            ],{{ end }}{{ if .Params.brand }}
            brand: {{ range (.GetTerms "brand") }}{{ .Title | jsonify }}{{ end }},{{ end }}{{ if .Params.color }}
            color: {{ range (.GetTerms "color") }}{{ .Title | humanize | jsonify }}{{ end }},{{ end }}
            slug: {{ .RelPermalink | jsonify }} }; $store.shop.user = { {{ with .Site.Data.user_setting.user.name }}
                name: {{ . | jsonify }},{{ end }}{{ with .Site.Data.user_setting.user.email }}
                email: {{ . | jsonify }},{{ end }}{{ with .Site.Data.user_setting.user.whatsapp }}
                whatsapp: {{ . | jsonify }},{{ end }}{{ with .Site.Data.user_setting.user.shop_name }}
                shop_name: {{ . | jsonify }},{{ end }}
            }'>
    {{ partial "breadcrumb.html" . }}
    <div class="shop__detail grid grid-cols-12 lg:gap-8">
        {{ partial "shop_media.html" . }}
        {{ partial "shop_body.html" . }}
    </div>
    <div class="shop__content py-8 px-3 lg:px-4 mb-6">
        {{ partial "shop_content.html" . }}
    </div>
    {{ partial "shop_related.html" . }}
</div>