{{- $site := .Site }}
<div x-data="rivebit">
    <header class='header transition duration-500 ease-ease {{ if .Params.fixed_menu }}bg-transparent lg:pt-0{{ else }}bg-header{{ end }} {{ if .Site.Data.theme.header.sticky_nav }}relative pt-20{{ end }}'>
        <div class="nav {{ if .Site.Data.theme.header.sticky_nav }}transition-all duration-500 ease-ease delay-300 animate-fadeInDown z-50{{ else }}py-4{{ end }}"
            {{ if .Site.Data.theme.header.sticky_nav }}:class="{ 'absolute w-full left-0 top-0 py-4': atTop, 'fixed w-full left-0 top-0 bg-header delay-300 animate-fadeInDown shadow-lg py-0': !atTop }"
            x-on:scroll.window="atTop = (window.pageYOffset > 200) ? false : true;" {{ end }}>
            <div class="nav__container container w-full max-w-screen-xl relative mx-auto py-4 lg:py-0 px-3 lg:px-12">
                <div class="nav__wrapper grid grid-cols-12 items-center">
                    <div class="nav__toggle col-span-1 h-8 flex items-center lg:hidden">
                        <button class="{{ if .Params.fixed_menu }}text-gray-700{{ else }}text-body-text hover:text-body-text-secondary{{ end }} cursor-pointer border-none focus:outline-none focus:bg-transparent"
                            :class="{ 'open': sideNav === true }" @click="sideNav = !sideNav">
                            <svg class="fill-current transition duration-300 ease-in-out transform" width="22" height="24">
                                <line
                                    class="stroke-current stroke-2 transition duration-300 ease-in-out transform"
                                    id="top" x1="0" x2="22" y1="6" y2="6"></line>
                                <line
                                    class="stroke-current stroke-2 transition duration-300 ease-in-out transform"
                                    id="middle" x1="0" x2="18" y1="12" y2="12"></line>
                                <line
                                    class="stroke-current stroke-2 transition duration-300 ease-in-out transform"
                                    id="bottom" x1="0" x2="22" y1="18" y2="18"></line>
                            </svg>
                        </button>
                    </div>
                    <div class="nav__brand logo col-span-6 lg:col-span-2 pl-8 lg:pl-0 lg:pr-8">
                        {{- if .Site.Data.theme.header.logo }}
                        <a class="nav__brand-link" href="{{ "/" | relURL }}">
                            {{- $include_dict := dict "image" .Site.Data.theme.header.logo "alt_text" .Site.Data.theme.header.title "Site" .Site "class" "image__logo" "resized" "156x webp" "lazyload" .Site.Data.theme.lazysizes }}
                            {{ partial "functions/get_image.html" $include_dict }}
                        </a>
                        {{- else }}
                        <a class="nav__brand-title" href='{{ "/" | relURL }}'>{{ .Site.Data.theme.header.title }}</a>
                        {{- end }}
                    </div>
                    <div class="nav__menu col-span-8 hidden lg:block">
                        <nav class="navbar">
                            <ul class="navbar__menu menu">
                                {{- $fixed_menu := "" }}
                                {{- with .Params.fixed_menu }}
                                {{- $fixed_menu = . }}
                                {{- end }}

                                {{- $current_page := . }}
                                {{- range .Site.Menus.main }}
                                {{- if .HasChildren }}
                                <li
                                    class="has-submenu menu__item font-heading" {{ if $fixed_menu }}:class="{ 'text-gray-700 hover:text-gray-500': atTop, 'text-menu-text hover:text-menu-text-hover bg-menu-bg hover:bg-menu-bg-hover': !atTop }"{{ else }}:class="'text-menu-text hover:text-menu-text-hover bg-menu-bg hover:bg-menu-bg-hover'"{{ end }}>
                                    <a class="menu__item-link" href="#">
                                        {{- .Pre -}}<span>{{ .Name | safeHTML }}</span>{{- .Post -}}
                                        {{ partial "svg/icon-angle-down.svg" (dict "class" "w-3 h-3 fill-current text-current ml-2") }}
                                    </a> 
                                    <ul class="submenu"
                                        aria-hidden="true"> 
                                        {{- range .Children }}
                                        <li
                                            class="submenu__item">
                                            <a class="submenu__item-link"
                                                href="{{ .URL | relLangURL }}" {{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
                                                {{- .Pre -}}<span>{{ .Name | humanize | safeHTML }}</span>
                                                {{- if ge hugo.Version 0.79 }}
                                                <span
                                                    class="text-white text-2xs uppercase leading-none rounded-sm py-3px px-2 ml-3 {{ with .Params.class }}{{ . }}{{ end }}">{{ with .Params.label }}{{ . }}{{ end }}</span>
                                                {{- end }}
                                                {{- .Post -}}
                                            </a>
                                        </li>
                                        {{- end }}
                                    </ul>
                                </li>
                                {{- else }}

                                {{/* Set target for link. */}}
                                {{- $.Scratch.Set "target" "" }}
                                {{- if gt (len .URL) 4 }}
                                {{- if eq "http" (slicestr .URL 0 4) }}
                                {{- $.Scratch.Set "target" " target=\"_blank\" rel=\"noopener\"" }}
                                {{- end }}
                                {{- end }}

                                {{/* Get active page. */}}
                                {{- $is_link_in_current_path := in $current_page.RelPermalink .URL }}
                                {{- $is_widget_page := or $current_page.IsHome (eq $current_page.Type "widget_page") }}
                                {{- $hash := findRE "#(.+)" .URL }}
                                {{- $is_same_page := $is_link_in_current_path }}
                                {{- if gt (len $hash) 0 }}
                                {{- $hash = index $hash 0 }}
                                {{- $hash_removed := replace .URL $hash "" }}
                                {{- if eq (len $hash_removed) 0 }}
                                {{- $hash_removed = "/" }}{{/* Add robustness for `/#SECTION` or `#SECTION` in `menus.toml`. */}}
                                {{- end }}
                                {{- $is_same_page = eq (path.Dir $current_page.RelPermalink) (path.Dir ($hash_removed|relLangURL)) }}
                                {{- end }}
                                <li
                                    class="menu__item font-heading" {{ if $fixed_menu }}:class="{ 'text-gray-700 hover:text-gray-500': atTop, 'text-menu-text hover:text-menu-text-hover bg-menu-bg hover:bg-menu-bg-hover': !atTop }"{{ else }}:class="'text-menu-text hover:text-menu-text-hover bg-menu-bg hover:bg-menu-bg-hover'"{{ end }}>
                                    <a class='menu__item-link {{ if $is_link_in_current_path }} active{{ end }}'
                                        href="{{.URL | relLangURL}}" {{ if and $is_widget_page $is_same_page }}
                                        data-target="{{$hash}}"
                                        {{ end }}{{ ($.Scratch.Get "target") | safeHTMLAttr }}>{{- .Pre -}}<span>{{ .Name | safeHTML }}</span>{{- .Post -}}</a>
                                </li>
                                {{- end }}
                                {{- end }}
                            </ul>
                        </nav>
                    </div>
                    <div class="col-span-5 lg:col-span-2 flex justify-end items-center">
                        <div class="nav__search flex-grow h-8">
                        {{ partial "nav_search" . }}
                        </div>
                        <div class="nav__dark-light flex-none w-8 h-8">
                            <button class="outline-none cursor-pointer" @click="darkMode = !darkMode">
                                <template x-if="!darkMode">
                                <span class="nav__cart-info w-8 h-8 flex items-center justify-center" {{ if $fixed_menu }}:class="{ 'text-gray-700 hover:text-gray-500': atTop, 'text-menu-text hover:text-menu-text-hover': !atTop }"{{ else }}:class="'text-menu-text hover:text-menu-text-hover'"{{ end }}>
                                {{ partial "svg/icon-moon.svg" (dict "class" "w-6 h-6 inline-block fill-current") }}
                                </span>
                                </template>
                                <template x-if="darkMode">
                                <span class="nav__cart-info w-8 h-8 flex items-center justify-center" {{ if $fixed_menu }}:class="{ 'text-gray-700 hover:text-gray-500': atTop, 'text-menu-text hover:text-menu-text-hover': !atTop }"{{ else }}:class="'text-menu-text hover:text-menu-text-hover'"{{ end }}>
                                {{ partial "svg/icon-sun.svg" (dict "class" "w-6 h-6 inline-block fill-current") }}
                                </span>
                                </template>
                            </button>
                        </div>
                        <div class="nav__shopping flex-none w-12 h-8 flex justify-end pr-2">
                            {{ partial "nav_cart" . }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{ partial "nav_mobile" . }}


    {{ int ("0987" | strings.TrimLeft "0") }}

    {{ replace "er455" "Robin" "Catwoman" }}
</div>