<footer class="site-footer footer">
    <div class="bg-footer">
        {{- if .Site.Data.theme.footer.has_widget }}
        <div class="container w-full max-w-screen-xl mx-auto px-3 lg:px-12 py-6">
            <div class="grid grid-cols-3 gap-6">
                {{- range $widget := .Site.Data.theme.footer.sections }}
                {{- $include_dict := dict "widget" $widget "Site" $.Site }}
                {{- $component := print "widgets/" $widget.type ".html" }}
                {{ partial $component $include_dict }}
                {{- end }}
            </div>
        </div>
        {{- end }}
    </div>
    <div class="bg-footer-secondary border-t border-solid border-footer-text-secondary">
        <div
            class="footer__copyright container w-full max-w-screen-xl mx-auto grid grid-cols-12 px-3 lg:px-12 pt-6 pb-6">
            <div class="footer__credit col-span-12 lg:col-span-6 mb-6 lg:mb-0">
                {{- if .Site.Data.theme.footer.content }}
                <p class="text-footer-text-primary mb-0">{{ .Site.Data.theme.footer.content | safeHTML }}</p>
                {{- end }}
            </div>
            <div class="footer__social col-span-12 lg:col-span-6">
                {{- if .Site.Data.theme.footer.has_social }}
                <div class="footer__social-content text-footer-text flex items-center justify-center lg:justify-end">
                    {{- range $social := .Site.Data.theme.footer.social_links }}
                    {{- $include_dict := dict "social" $social "class" "text-footer-text hover:text-footer-text-secondary" }}
                    {{ partial "social.html" $include_dict }}
                    {{- end }}
                </div>
                {{- end }}
                <div class="footer__arrow fixed bottom-6 right-6">
                    <a href="#site-main"
                        class="scroll-top text-footer-text border border-solid border-footer-text inline-block py-1 px-2">
                        {{ partial "svg/icon-arrow-up.svg" (dict "class" "w-4 h-4 inline-block fill-current text-current") }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>